.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Eclipse build files
bin/

#Gradle build dir
build/
.gradle

#Contains passwords/credentials for deploying to maven central
gradle.properties
